.c1 {
    background-color: lightgreen;
    text-align: center;
}
.c2 {
    background-color: rgb(16, 6, 160);
    text-align: center;
}
.c3 {
    background-color: skyblue;
    text-align: center;
}
.c4 {
    background-color: orange;
    text-align: center;
}
.c5 {
    background-color: rgb(189, 5, 158);
    text-align: center;
}
.c6 {
    background-color: red;
    text-align: center;
}
.c7 {
    background-color: yellow;
    text-align: center;
}
.c8 {
    background-color: gray;
    text-align: center;
}
.c9 {
    background-color: rgb(11, 226, 11);
    text-align: center;
}
.c10 {
    background-color: lightseagreen;
    text-align: center;
}